@font-face {
  font-family: "Partial Sans KR";
  src: url("/static/fonts/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}