@font-face {
  font-family: "Partial Sans KR";
  src: url("../../fonts/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* 공통 스타일 */
body {
  margin: 0;
  padding: 0;
  font-family: "Gugi", sans-serif;
  background: var(
    --Grad-Orange,
    linear-gradient(0deg, #ff850b 0%, #ffb200 100%)
  );
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  width: 1280px;
  height: 640px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/****************************
         게임 보드
*****************************/
.board {
  flex: 3;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

/* turn-info 가운데 정렬 + 버튼 오른쪽 고정 */
.turn-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
}

.turn-header {
  color: var(--Theme-00, #2a2a2a);
  text-align: center;
  font-family: "Partial Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.turn-header p {
  margin: 0;
}

.end-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #2a2a2a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;

  cursor: pointer;

  /* Header 3 */
  font-family: Paperlogy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.players {
  font-size: 16px;
  margin: 0;
  margin-top: 4px;
  text-align: center;
  font-family: "Paperlogy";
  font-weight: 700; /* Paperlogy-7Bold */
}

.tiles-grid {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px);
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  flex-grow: 1;
  position: relative;
}

.tile {
  width: 100px;
  height: 100px;
  background-color: #ff8801;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Paperlogy;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.empty {
  background-color: transparent;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.pass-btn,
.drink-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;

  color: #fff;
  text-align: center;

  /* Header 2 */
  font-family: Paperlogy;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.pass-btn {
  background-color: #2a2a2a;
  display: flex;
  width: 199px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--Main-Gray, #939393);
}

.drink-btn {
  display: flex;
  width: 199px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fe2600;
}

/****************************
         사이드바
*****************************/
.sidebar {
  flex: 1.2;
  background: var(
    --Grad-Orange,
    linear-gradient(0deg, #ff850b 0%, #ffb200 100%)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-sizing: border-box;
  gap: 16px;
}

.ranking,
.missions,
.dice {
  background-color: #fff;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.ranking-title {
  color: var(--Theme-00, #2a2a2a);
  text-align: center;
  font-family: "Partial Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ranking-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;

  color: #000;
  text-align: center;
  font-family: Paperlogy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.rank-card {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.rank-card img {
  width: 16px;
  height: 16px;
}

/****************************
        미션 목록
*****************************/
.missions {
  height: 419px;
}

.missions h3 {
  color: var(--Theme-00, #2a2a2a);
  text-align: center;
  font-family: "Partial Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.missions ol {
  margin: 0;
  padding-left: 20px;
  max-height: 250px;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.8;
  color: #222;

  color: var(--Main-Black, #2a2a2a);
  font-family: Paperlogy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.missions ol li {
  width: 271px;
  color: #000;
  font-family: Paperlogy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

/****************************
         주사위
*****************************/
.dice-roll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.dice-number-box {
  width: 72px;
  height: 72px;
  background: #ff8801;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.dice-number {
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Partial Sans KR", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #ff8801;
  -webkit-text-stroke: 2px #000000;
}

.roll-dice-button {
  border-radius: 15px;
  background: var(--Theme-00, #2a2a2a);

  color: #fff;
  text-align: center;

  height: 72px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  text-align: center;

  /* Header 2 */
  font-family: Paperlogy;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.roll-dice-button:hover {
  background-color: #444;
}

/* 연희 수정 / 말 */
.horse {
  width: 50px;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 1000;
}
/* 연희 수정 / 미션 */
.mission-box {
  grid-column: 2 / span 5; /* 가운데 위치 잡기 (3번째 칸부터 3칸 차지) */
  grid-row: 2 / span 3; /* 3번째 행에 위치 */
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0px;
  font-size: 18px;
  font-family: "Paperlogy";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  word-break: keep-all;
  line-height: 1.6;
  max-height: 150px;
  overflow-y: auto;
}
