@font-face {
  font-family: "Partial Sans KR";
  src: url("../fonts/PartialSansKR-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-1Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-2ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-3Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-4Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-5Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-6SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-7Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-8ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Paperlogy";
  src: url("/static/fonts/Paperlogy-9Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* 기본 테마 */
body.theme-college {
  margin: 0;
  padding: 40px;
  background: linear-gradient(to right, #FF6A00, #FF8801);
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* 주황 */
}

/* 스포츠 테마 */
body.theme-sports {
  margin: 0;
  padding: 40px;
  background: linear-gradient(to right, #1FB230, #4CC85A);
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* 파랑 */
}

/* 아이돌 테마 */
body.theme-idol {
  margin: 0;
  padding: 40px;
  background: linear-gradient(to right, #812FA7, #8A49D5);
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* 보라 */
}

body.theme-custom {
  margin: 0;
  padding: 40px;
  background: linear-gradient(to right, #E22D2D, #DB3445);
  height: 100vh;
  overflow: hidden;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; 
}

/*--- 이미지 ---*/

/* 렝킹 O */
.review-image-true {
  min-width: 810px;
  max-width: 810px;
  min-height: 810px;
  max-height: 810px;
  background-color: #999;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-180px);
}

/* 렝킹 X */
.review-image-false {
  min-width: 660px;
  max-width: 660px;
  min-height: 660px;
  max-height: 660px;
  background-color: #999;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: translateX(-25px);
}

.image-label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-preview {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
}

.image-placeholder {
  color: #333;
  font-size: 1.2rem;
  pointer-events: none;
  text-align: center;
}

.remove-image-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 5px 10px;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

/*--- 홈으로 돌아가기 ---*/

.back-btn-wrapper {
  text-align: center;
  margin-top: 2rem;
}

.back-btn {
  border-radius: 15px;
  background: var(--Theme-00, #2a2a2a);

  color: #fff;
  text-align: center;

  height: 72px;
  padding: 0px 117px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  text-align: center;
  text-decoration: none;

  /* Header 2 */
  font-family: Paperlogy;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.back-btn:hover {
  background-color: #444;
  text-decoration: none;
}

.button_click {
  text-decoration: none;
}

/*왼쪽 사이드 바 */

.result-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.left-panel {
  flex: 1;
  width: 1000;
  min-width: 300px;
}

/*.right-panel {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  background: white;
  padding: 1.5rem;
  border-radius: 20px;
  color: black;
}*/

/*오른쪽 사이드 바 */

.summary-box{
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  background: white;
  padding: 1.5rem;
  margin-bottom: 1rem;

  border-radius: 20px;
  color: black;
}

.summary-box h1 {
  color: var(--Theme-00, #2a2a2a);
  text-align: center;
  font-family: "Partial Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

/*----------------------------------*/

.summary-section-college {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #FF6A00, #FF8801);
  border-radius: 20px;
  padding: 0.1rem 2rem 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}

.summary-section-sports {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #1FB230, #4CC85A);
  border-radius: 20px;
  padding: 0.1rem 2rem 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}

.summary-section-idol {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #812FA7, #8A49D5);
  border-radius: 20px;
  padding: 0.1rem 2rem 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}

.summary-section-custom {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #E22D2D, #DB3445);
  border-radius: 20px;
  padding: 0.1rem 2rem 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}

/*----------------------------------*/




.summary-text{
  font-family: "Paperlogy";
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  color: white;
}

/*----------랭킹 -------------*/

.summary-card-college {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #FF6A00, #FF8801);
  border-radius: 20px;
  padding: 0.1rem 2rem 1.3rem 2rem ;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}
.summary-card-sports {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #1FB230, #4CC85A);
  border-radius: 20px;
  padding: 0.1rem 2rem 1.3rem 2rem ;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}
.summary-card-idol {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #812FA7, #8A49D5);
  border-radius: 20px;
  padding: 0.1rem 2rem 1.3rem 2rem ;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}
.summary-card-custom {
  font-family: "Paperlogy";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  background: linear-gradient(to right, #E22D2D, #DB3445);
  border-radius: 20px;
  padding: 0.1rem 2.7rem 1.3rem 2.7rem ;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  text-align: left;
}

/*---------------------------------------------------------------*/

.summary-title{
  color: var(--Theme-00, #2a2a2a);
  text-align: center;
  font-family: "Partial Sans KR";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}





.ranking-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin: 0;
  list-style: none;

  color: #000;
  text-align: center;
  font-family: Paperlogy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.rank-card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 4px 8px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f9f9f9;
}

.rank-card img {
  width: 16px;
  height: 16px;
}

/* -------------- 미션 박스 ------------------*/
.all-mission-box {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 1rem 2.5rem 1rem 2.5rem ;
  height: 200px;
  max-height: 200px;
  width: 360px;
  max-width: 360px;

  /* ✅ 스크롤바 숨기기 */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */

  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-top: 1rem;
  margin-bottom: 1rem ;
  color: #2a2a2a;
}

.all-mission-box h2 {
  font-family: "Paperlogy";
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-weight: bold;
  border-bottom: 0.6px solid #ccc;
  padding-bottom: 5px;
}

.mission-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.mission-list li {
  font-family: "Paperlogy";
  margin: 6px 0;
  white-space: normal;
  font-size: 0.95rem;
  line-height: 1.4;
}
