{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- css 뒤에 ?v=2 -> 캐쉬 너무 많이 쌓여서 새로운 캐시페이지로.. 설정한거임 지워도 됨-->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/start.css'%}?v=2"
    />
    <title>게임 메인화면</title>
  </head>
  <body>
    <img
      src="{% static 'assets/images/bottle.svg' %}"
      alt="bottle"
      class="start-img bottle"
    />
    <img
      src="{% static 'assets/images/liquid.svg' %}"
      alt="liquid"
      class="start-img liquid"
    />
    <img
      src="{% static 'assets/images/dice.svg' %}"
      alt="dice"
      class="start-img dice"
    />

    <div class="container">
      <img
        class="marblekiri_logo"
        src="/static/assets/logo.svg"
        alt="마블끼리 로고"
      />
      <h2 class="opening_comment">
        술자리에서 우리끼리 즐기는 온라인 보드게임
      </h2>

      <a href="{% url 'setup' %}" class="button_click">
        <button class="start_button">시작하기</button>
      </a>
    </div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const bgMusic = new Audio(
        "{% static 'assets/sounds/gamebackground.mp3' %}"
      );
      bgMusic.loop = true;
      bgMusic.volume = 0.5;

      document.body.addEventListener(
        "click",
        () => {
          if (bgMusic.paused) {
            bgMusic
              .play()
              .then(() => console.log("🎵 배경음 재생"))
              .catch((e) => console.warn("❌ 재생 실패:", e));
          }
        },
        { once: true }
      );
    });
  </script>
</html>
